{% extends "home.html" %}


{% load static %}


{% block contenido %}

<h2 style="color: white;"> Ingrese su consulta: </h2>

<form action="formulario_publicacion" method="POST">
    {% csrf_token %}

    <h3 style="color:coral">Usuario:</h3><input type="text" name="usuario" >
    <h3 style="color:coral">Tema Especifico:</h3><input type="text" name="tema_especifico">
    <h3 style="color:coral"  >Publica tu consulta:</h3><textarea name="consulta" id="" cols="30" rows="5"></textarea>
    <button type="submit">Publicar</button>



</form>

{% endblock %}